<!doctype html>
  <html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>[REMINDER][Cloud Infrastructure][{{ project }}] VMs affected by Hardware replacement campaign 2025 - OTG0154752</title>
    <style>
      /* -------------------------------------
          GLOBAL RESETS
      ------------------------------------- */
      img {
        border: none;
        -ms-interpolation-mode: bicubic;
        max-width: 100%; }

      body {
        background-color: #f6f6f6;
        font-family: sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        line-height: 1.4;
        margin: 0;
        padding: 0;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%; }

      table {
        border-collapse: separate;
        mso-table-lspace: 0pt;
        mso-table-rspace: 0pt;
        width: 100%; }
        table th {
          text-align: left; }
        table td {
          font-family: sans-serif;
          font-size: 14px;
          vertical-align: top; }

      /* -------------------------------------
          BODY & CONTAINER
      ------------------------------------- */

      .body {
        background-color: #f6f6f6;
        width: 100%; }

      /* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
      .container {
        display: block;
        Margin: 0 auto !important;
        /* makes it centered */
        max-width: 980px;
        padding: 10px;
        width: 980px; }

      /* This should also be a block element, so that it will fill 100% of the .container */
      .content {
        box-sizing: border-box;
        display: block;
        Margin: 0 auto;
        max-width: 980px;
        padding: 10px; }

      /* -------------------------------------
          HEADER, FOOTER, MAIN
      ------------------------------------- */
      .main {
        background: #ffffff;
        border-radius: 3px;
        width: 100%; }

      .wrapper {
        box-sizing: border-box;
        padding: 20px; }

      .content-block {
        padding-bottom: 10px;
        padding-top: 10px;
      }

      .footer {
        clear: both;
        Margin-top: 10px;
        text-align: center;
        width: 100%; }
        .footer td,
        .footer p,
        .footer span,
        .footer a {
          color: #999999;
          font-size: 12px;
          text-align: center; }

      /* -------------------------------------
          TYPOGRAPHY
      ------------------------------------- */
      h1,
      h2,
      h3,
      h4 {
        color: #000000;
        font-family: sans-serif;
        font-weight: 400;
        line-height: 1.4;
        margin: 0;
        Margin-bottom: 30px; }

      h1 {
        font-size: 35px;
        font-weight: 300;
        text-align: center;
        text-transform: capitalize; }

      p,
      ul,
      ol {
        font-family: sans-serif;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
        Margin-bottom: 15px; }
        p li,
        ul li,
        ol li {
          list-style-position: inside;
          margin-left: 5px; }

      a {
        color: #3498db;
        text-decoration: underline; }

      /* -------------------------------------
          BUTTONS
      ------------------------------------- */
      .btn {
        box-sizing: border-box;
        width: 100%; }
        .btn > tbody > tr > td {
          padding-bottom: 15px; }
        .btn table {
          width: auto; }
        .btn table td {
          background-color: #ffffff;
          border-radius: 5px;
          text-align: center; }
        .btn a {
          background-color: #ffffff;
          border: solid 1px #3498db;
          border-radius: 5px;
          box-sizing: border-box;
          color: #3498db;
          cursor: pointer;
          display: inline-block;
          font-size: 14px;
          font-weight: bold;
          margin: 0;
          padding: 12px 25px;
          text-decoration: none;
          text-transform: capitalize; }

      .btn-primary table td {
        background-color: #3498db; }

      .btn-primary a {
        background-color: #3498db;
        border-color: #3498db;
        color: #ffffff; }

      /* -------------------------------------
          OTHER STYLES THAT MIGHT BE USEFUL
      ------------------------------------- */
      .last {
        margin-bottom: 0; }

      .first {
        margin-top: 0; }

      .align-center {
        text-align: center; }

      .align-right {
        text-align: right; }

      .align-left {
        text-align: left; }

      .clear {
        clear: both; }

      .mt0 {
        margin-top: 0; }

      .mb0 {
        margin-bottom: 0; }

      .preheader {
        color: transparent;
        display: none;
        height: 0;
        max-height: 0;
        max-width: 0;
        opacity: 0;
        overflow: hidden;
        mso-hide: all;
        visibility: hidden;
        width: 0; }

      .powered-by a {
        text-decoration: none; }

      hr {
        border: 0;
        border-bottom: 1px solid #f6f6f6;
        Margin: 20px 0; }

      /* -------------------------------------
          RESPONSIVE AND MOBILE FRIENDLY STYLES
      ------------------------------------- */
      @media only screen and (max-width: 620px) {
        table[class=body] h1 {
          font-size: 28px !important;
          margin-bottom: 10px !important; }
        table[class=body] p,
        table[class=body] ul,
        table[class=body] ol,
        table[class=body] td,
        table[class=body] span,
        table[class=body] a {
          font-size: 16px !important; }
        table[class=body] .wrapper,
        table[class=body] .article {
          padding: 10px !important; }
        table[class=body] .content {
          padding: 0 !important; }
        table[class=body] .container {
          padding: 0 !important;
          width: 100% !important; }
        table[class=body] .main {
          border-left-width: 0 !important;
          border-radius: 0 !important;
          border-right-width: 0 !important; }
        table[class=body] .btn table {
          width: 100% !important; }
        table[class=body] .btn a {
          width: 100% !important; }
        table[class=body] .img-responsive {
          height: auto !important;
          max-width: 100% !important;
          width: auto !important; }}

      /* -------------------------------------
          PRESERVE THESE STYLES IN THE HEAD
      ------------------------------------- */
      @media all {
        .ExternalClass {
          width: 100%; }
        .ExternalClass,
        .ExternalClass p,
        .ExternalClass span,
        .ExternalClass font,
        .ExternalClass td,
        .ExternalClass div {
          line-height: 100%; }
        .apple-link a {
          color: inherit !important;
          font-family: inherit !important;
          font-size: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
          text-decoration: none !important; }
        .btn-primary table td:hover {
          background-color: #34495e !important; }
        .btn-primary a:hover {
          background-color: #34495e !important;
          border-color: #34495e !important; } }

    </style>
  </head>
  <body class="">
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">

            <!-- START CENTERED WHITE CONTAINER -->
            <span class="preheader">[REMINDER][Cloud Infrastructure][{{ project }}] VMs affected by Hardware replacement campaign 2025 - OTG0154752</span>
            <table class="main">

              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <p>Dear Cloud user,</p>
                        <br/>
                        <p>
                        <em>This is a friendly reminder of the Hardware replacement campaign 2025</em>
                        </p>
                        <br/>
                        <p>
                        As part of the Hardware replacement campaign 2025 (<a href="https://cern.service-now.com/service-portal?id=outage&n=OTG0154752">OTG0154752</a>,
                        related announcement in <a href="https://indico.cern.ch/event/1479185/">ITUM March 2025</a>) in the Cloud Service,
                        we are contacting you as the owner of the project "{{ project }}" with {{entries|count}} virtual machines affected.
                        </p>
                        <p>List of Virtual machines affected:</p>
                        <table>
                        <tr>
                            <th>VM Name</th>
                            <th>Recommended Action</th>
                            <th>Flavor</th>
                            <th>Compatible Flavor</th>
                        </tr>
                        {% for entry in entries %}
                        <TR>
                           <td>{{entry.name}}</td>
                           <td>{{entry.action}}</td>
                           <td>{{entry.flavor}}</td>
                           <td>{{entry.flavor_compatible}}</td>
                        </TR>
                        {% endfor %}
                        </table>
                        <br/>
                        <br/>
                        <p>
                        We kindly ask you to review the machines and identify if they can be recreated/resized by you or any members of the project.
                        </p>
                        <br/>
                        <p>
                        You can resize them to a compatible flavor indicated in the table above. Resize implies a <strong>downtime</strong> depending on the amount
                        of data on the disk and the load on the infrastructure during the resize. It may last from 15 minutes to 8 hours.
                        </p>
                        <br/>
                        <p>
                        Typical resize times depend on the flavor and image of the machine:
                        <ul>
                            <li>m2.small and m2.medium less than 1 hour</li>
                            <li>m2.large 30 minutes to 2 hours</li>
                            <li>m2.xlarge 2 to 4 hours</li>
                            <li>m2.2xlarge up to 8 hours</li>
                        </ul>
                        </p>
                        <br/>
                        <p>
                        The RESIZE operation can be done at any time at your convenience by using the following <a href="https://clouddocs.web.cern.ch/using_openstack/resizing_a_vm.html">instructions</a>
                        <br/>
                        If you don't have a compatible flavor and you need to RECREATE your VM, please follow our guide in the <a href="https://clouddocs.web.cern.ch/FAQ.html#incompatible-flavor">Frequently Asked Questions</a>
                        </p>
                        <br/>
                        <p>
                        Please remember that if no operation is done before the deadline of <strong>May 30th 2025</strong>, we will be forced to trigger the resize of the remaining virtual machines.
                        </p>
                        <br/>
                        <p></p>Thank you for your help and understanding.</p>
                        <br/>
                        <p>Best regards,</p>
                        <p>&nbsp;&nbsp;Cloud Infrastructure Team, CERN IT department</p><br/>
                        <br/>
                        <p>PS: This is an automatically generated mail - please do not reply to it. For further questions, please contact <a href="https://cern.service-now.com/service-portal?id=functional_element&name=cloud-infrastructure">our support line</a>.</p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

            <!-- END MAIN CONTENT AREA -->
            </table>

            <!-- START FOOTER -->
            <div class="footer"/>
            <!-- END FOOTER -->

          <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </body>
  </html>
